
 *{
     position: inherit;
 }
/* Add padding to containers */
.container {
    padding-top: 20px;
    padding-left: 50px;
    padding-right: 50px ;
    padding-bottom: 20px;
    background-color: rgba(33, 149, 243, 0.404);
    margin-left: 50%; 
    border: black ;
  }
  
  /* Full-width input fields */
  input[type=text], input[type=password] {
    width: 95%;
    padding: 10px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
  }
  
  input[type=text]:focus, input[type=password]:focus {
    background-color: #ddd;
    outline: none;
  }
  
  /* Overwrite default styles of hr */
  hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
  }
  
  /* Set a style for the submit button */
  .registerbtn {
    background-color:  #2196F3;
    color: white;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
  }
  
  .registerbtn:hover {
    opacity: 1;
  }
  
  /* Add a blue text color to links */
  a {
    color: white;
  }
  

  .bg-img {
    /* The image used */
    background-image: url("air.png");
  
    min-height: 380px;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    position: relative;
  }

  p{
      font-size: 12px;
  }